/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.custom-buttons-wrapper{
margin-left: 4rem;
}



button,button:focus,button:active {
    margin: 0.5rem;
    color: $white;
    font-weight: $font-bold;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    width:90%;
    background-color: #11f31d;;
    transition: 0.3s ease-in-out;
    padding: 5px;
    outline: none;
  }
  
  button:hover {
    margin: 0.6rem;
    box-shadow: $secondary-color 2px -2px ;
    color: whitesmoke;
    border: 1px solid $secondary-color;
    border-radius: 5px;
   
  }

  .overlay {
    position: absolute;  
    top:25%;
    left: 0;
    right: 0;
   
    margin-bottom: 4rem;
    background: rgba(100, 100, 100, 0.8);
  }
  
  .modal {
    margin-top:100px;
    width: 90%;
    min-height: 33%;
   
    margin-left: 7%;
    margin-bottom: 4rem;
    position: relative;
    top: 50%;
    text-align: center;
    background: $secondary-color-light;
    border-radius: 5px;
    padding: 30px 20px;
    opacity: 0.99;
    z-index: 999;
  }
  
  .modalInner {
    margin: 0.5rem 1rem;
  }
  
  .hidden {
    display: none;
  }

  .modalIcon:hover {
    stroke: $white;
  }
  
  .modal-close {
    width: 2em;
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: $primary-color-light;
  }

  .modal-close:active {
    width: 2em;
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: $primary-color-light;
  }


  
 

